@import "tailwindcss";

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;
}

html, body {
  background-color: #0c0c0e;
  color: #e8e8ea;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%       { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #131316;
}
::-webkit-scrollbar-thumb {
  background: #2a2a30;
}
